@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

$font-family: "Inter", sans-serif;
$primary: #36b37f;
$secondary: #172b4d;

.header-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.navlinks {
  display: none;
}

.logo {
  display: block;
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.toggleMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  position: relative;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  .menu {
    height: 4px;
    width: 30px;
    border-radius: 5px;
    background-color: $secondary;
    transition: all 0.5s ease-in-out;
    position: relative;
  }

  .menu::before,
  .menu::after {
    content: "";
    height: 4px;
    width: 30px;
    border-radius: 5px;
    background-color: $secondary;
    transition: all 0.5s ease-in-out;
    position: absolute;
  }

  .menu::before {
    transform: translateY(-10px);
  }

  .menu::after {
    transform: translateY(10px);
  }
}

.toggleMenu.open .menu {
  transform: translateX(-45px);
  background-color: transparent;
}

.toggleMenu.open .menu::before {
  transform: rotate(45deg) translate(30px, -30px);
}

.toggleMenu.open .menu::after {
  transform: rotate(-45deg) translate(30px, 30px);
}

.socials {
  display: flex;
  align-items: center;

  a {
    margin: 0.8rem;
    font-size: 1.5em;
    color: #505f79;
  }
}

.navlinks.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;

  ul {
    display: flex;
    margin: 2rem 2rem 0;
    flex-direction: column;

    li {
      margin: 1rem 0;

      :hover {
        background-color: #ebf0ee;
      }

      a {
        border-radius: 10px;
        padding: 1rem;
        font-family: $font-family;
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        color: #3a4a42;
      }
    }
  }
}

.hero {
  height: 100vh;
}

.scroll {
  margin-top: 3.7rem;

  span {
    padding: 0.8rem;
    border-radius: 50%;
    border: 1px solid lightgray;

    i {
      color: $secondary;
    }
  }
}

.hero-intro {
  background-image: url("../assets/mob_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin: 5rem 2rem 0;

    h1 {
      font-family: $font-family;
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
      color: $secondary;
      text-align: center;

      span {
        color: $primary;
      }
    }
  }

  .description {
    margin: 1rem;

    p {
      font-family: $font-family;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: $secondary;
    }
  }
}

.ttl {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  padding: 1.5rem;

  h2 {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: $secondary;
  }
}

#about {
  background-image: url("../assets/about-right.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-des {
    margin-top: 5rem;
    background-image: url("../assets/about-left.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100px;
    width: 100%;
    height: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-ttl {
      display: flex;
      justify-content: center;

      h2 {
        font-family: $font-family;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        color: $secondary;
      }
    }
  }

  .about-para {
    width: 351px;
    height: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: $font-family;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
    }

    button {
      font-family: $font-family;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 24px;
      color: #fff;
      background-color: $primary;
      padding: 0.8rem;
      margin-top: 1.5rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        scale: 0.8;
      }
    }
  }

  .experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    .about-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ebf0ee;
      width: 359px;
      height: 392px;
      border-radius: 10px;
      margin: 1rem;

      img {
        margin-top: 1rem;
      }

      h3 {
        margin-top: 2rem;
        font-family: $font-family;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: $secondary;
      }

      ul {
        margin-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li {
          margin: 0.5rem;
          background-color: #fff;
          padding: 0.5rem;
          border-radius: 5px;

          a {
            color: $primary;
          }
        }
      }
    }
  }
}

#portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .cards {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 474px;
    gap: 2rem;
    margin: 1rem;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #d0d9d4;
      border-radius: 5px;

      .img-hdr {
        height: 232px;
        width: 100%;
        background: #ebf0ee;
      }

      .langs {
        display: flex;
        flex-direction: column;

        h3 {
          margin-top: 2rem;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          text-align: center;
          color: #3a4a42;
        }

        .cd-links {
          display: flex;
          align-items: center;

          li {
            margin: 0.5rem;
            border-radius: 5px;
            background: #ebf0ee;
            padding: 0.5rem;

            a {
              color: #3a4a42;
            }
          }
        }

        button {
          font-family: $font-family;
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 24px;
          margin-top: 1rem;
          border-radius: 5px;
          width: 122px;
          height: 48px;
          align-self: center;
          color: #fff;
          background: $primary;
          border: none;

          &:hover {
            scale: 0.8;
          }
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .hero-intro {
    .title {
      margin: 8rem 3rem 0;
    }

    .description {
      margin: 1rem 2rem;
    }

    .socials {
      margin-top: 2rem;
    }
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .cd1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .cd2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .about-des {
    background-size: 120px;

    .about-para {
      width: 500px;
    }
  }
}

@media (min-width: 768px) {
  .navlinks {
    display: block;
  }

  .logo {
    display: none;
  }

  .toggleMenu {
    display: none;
  }

  .socials {
    margin-top: 1rem;

    a {
      font-size: 2em;

      img {
        height: 1.8rem;
      }
    }
  }

  .header-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;

    .navlinks {
      padding: 1rem;

      ul {
        display: flex;

        li {
          font-family: $font-family;
          font-weight: 600;
          font-size: 15px;
          line-height: 20px;
          margin: 0 1rem;

          :hover {
            background-color: #ebf0ee;
          }

          a {
            padding: 0.8rem;
            border-radius: 5px;
            color: $secondary;
          }
        }
      }
    }
  }

  .hero-intro {
    background-image: none;

    .title {
      margin-top: 7rem;
    }

    .description {
      margin: 2rem;
      padding: 0 10rem;
    }
  }

  .hero {
    background-image: url("../assets/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  #about {
    background-image: url("../assets/about-right.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
    height: 100vh;

    .about-des {
      background-image: url("../assets/about-left.png");
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 180px;
      height: 50%;
      display: flex;
      flex-direction: column;

      .about-ttl {
        display: flex;
        align-self: center;
        margin-top: 6rem;

        h2 {
          font-family: $font-family;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 52px;
          color: $secondary;
        }
      }

      .about-para {
        display: flex;
        align-self: center;
        flex-direction: column;
        margin: 2rem 4rem;
        padding: 0 8rem;
        width: 75%;

        p {
          font-family: $font-family;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          color: $secondary;
          text-align: center;
        }

        button {
          margin-top: 2rem;
          font-family: $font-family;
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 24px;
          color: #fff;
          background-color: $primary;
          width: 159px;
          height: 48px;
          align-self: center;
          border: none;
          border-radius: 4px;
        }
      }
    }

    .experience {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 2rem 4rem;

      .about-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ebf0ee;
        width: 369px;
        height: 352px;
        border-radius: 10px;

        h3 {
          margin-top: 2rem;
          font-family: $font-family;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          color: $secondary;
        }

        ul {
          margin-top: 1.5rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;

          li {
            margin: 0.5rem;
            background-color: #fff;
            padding: 0.5rem;
            border-radius: 5px;

            a {
              color: $primary;
            }
          }
        }
      }
    }
  }

  #portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .cards {
      grid-column: 1/4;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .card {
        .langs {
          h3 {
            color: $secondary;
          }

          .cd-links {
            li {
              a {
                color: $secondary;
              }
            }
          }
        }
      }
    }

    .ttl {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      grid-column: 1 / 4;
    }
  }
}
