@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.header-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.navlinks {
  display: none;
}

.logo {
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  -webkit-animation-name: logo;
  animation-name: logo;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.toggleMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  position: relative;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.toggleMenu .menu {
  height: 4px;
  width: 30px;
  border-radius: 5px;
  background-color: #172b4d;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.toggleMenu .menu::before,
.toggleMenu .menu::after {
  content: "";
  height: 4px;
  width: 30px;
  border-radius: 5px;
  background-color: #172b4d;
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.toggleMenu .menu::before {
  transform: translateY(-10px);
}

.toggleMenu .menu::after {
  transform: translateY(10px);
}

.toggleMenu.open .menu {
  transform: translateX(-45px);
  background-color: transparent;
}

.toggleMenu.open .menu::before {
  transform: rotate(45deg) translate(30px, -30px);
}

.toggleMenu.open .menu::after {
  transform: rotate(-45deg) translate(30px, 30px);
}

.socials {
  display: flex;
  align-items: center;
}

.socials a {
  margin: 0.8rem;
  font-size: 1.5em;
  color: #505f79;
}

.navlinks.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
}

.navlinks.active ul {
  display: flex;
  margin: 2rem 2rem 0;
  flex-direction: column;
}

.navlinks.active ul li {
  margin: 1rem 0;
}

.navlinks.active ul li :hover {
  background-color: #ebf0ee;
}

.navlinks.active ul li a {
  border-radius: 10px;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
}

.hero {
  height: 100vh;
}

.scroll {
  margin-top: 3.7rem;
}

.scroll span {
  padding: 0.8rem;
  border-radius: 50%;
  border: 1px solid lightgray;
}

.scroll span i {
  color: #172b4d;
}

.hero-intro {
  background-image: url("../assets/mob_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-intro .title {
  margin: 5rem 2rem 0;
}

.hero-intro .title h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

.hero-intro .title h1 span {
  color: #36b37f;
}

.hero-intro .description {
  margin: 1rem;
}

.hero-intro .description p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.ttl {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  padding: 1.5rem;
  width: 98%;
}

.ttl h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

#about {
  background-image: url("../assets/about-right.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#about .about-des {
  margin-top: 3rem;
  background-image: url("../assets/about-left.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100px;
  width: 100%;
  height: 333px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about .about-des .about-ttl {
  display: flex;
  justify-content: center;
}

#about .about-des .about-ttl h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

#about .about-des .about-para {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about .about-des .about-para p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

#about .about-des .about-para button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background-color: #36b37f;
  padding: 0.8rem;
  margin-top: 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#about .about-des .about-para button:active {
  background: #36b37f;
}

#about .about-des .about-para button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.34);
}

#about .about-des .about-para button:visited {
  background: #008552;
}

#about .experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}

#about .experience .about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
  width: 359px;
  height: 392px;
  border-radius: 10px;
  margin: 1rem;
}

#about .experience .about-card img {
  margin-top: 1rem;
}

#about .experience .about-card h3 {
  margin-top: 2rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #172b4d;
}

#about .experience .about-card ul {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#about .experience .about-card ul li {
  margin: 0.5rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}

#about .experience .about-card ul li a {
  color: #36b37f;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

#contact .pri-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .pri-text .contact-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

#contact .form {
  margin-top: 2rem;
}

#contact .form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  width: 90%;
  margin: 0.5rem;
}

#contact .form fieldset textarea {
  width: 95%;
}

#contact .form fieldset textarea:valid {
  border-color: #0caa0c;
}

#contact .form fieldset textarea:focus {
  outline: none;
}

#contact .form fieldset input {
  width: 95%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

#contact .form fieldset input:valid {
  border-color: #0caa0c;
}

#contact .form fieldset input:focus {
  outline: none;
}

#contact .form fieldset .btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 129px;
  height: 48px;
  background-color: #36b37f;
  color: #fff;
  align-self: center;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
}

#contact .form fieldset .btn:active {
  background: #36b37f;
}

#contact .form fieldset .btn:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.34);
}

#contact .form fieldset .btn:visited {
  background: #008552;
}

#portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#portfolio .cards {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 1rem;
}

#portfolio .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d0d9d4;
  border-radius: 5px;
  height: 500px;
}

#portfolio .cards .card .img-hdr {
  height: 232px;
  width: 100%;
  background: #ebf0ee;
}

#portfolio .cards .card .langs {
  display: flex;
  flex-direction: column;
}

#portfolio .cards .card .langs h3 {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
}

#portfolio .cards .card .langs .cd-links {
  display: flex;
  align-items: center;
}

#portfolio .cards .card .langs .cd-links li {
  margin: 0.5rem;
  border-radius: 5px;
  background: #ebf0ee;
  padding: 0.5rem;
}

#portfolio .cards .card .langs .cd-links li a {
  color: #3a4a42;
}

#portfolio .cards .card .langs button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 1rem;
  border-radius: 5px;
  width: 122px;
  height: 48px;
  align-self: center;
  color: #fff;
  background: #36b37f;
  border: none;
}

#portfolio .cards .card .langs button:active {
  background: #36b37f;
}

#portfolio .cards .card .langs button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.34);
}

#portfolio .cards .card .langs button:visited {
  background: #008552;
}

#copyright {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

#copyright .copyright {
  display: flex;
  flex-direction: column;
}

#copyright .copyright .copyright-txt {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  align-self: center;
  color: #172b4d;
}

@media (min-width: 480px) and (max-width: 767px) {
  .hero-intro .title {
    margin: 8rem 3rem 0;
  }

  .hero-intro .description {
    margin: 1rem 2rem;
  }

  .hero-intro .socials {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 550px) {
  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
  }

  #contact .contact-para {
    margin: 0 2rem;
  }

  #contact .form {
    width: 70vw;
  }

  #contact .form fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 0.7rem;
  }

  #contact .form fieldset input {
    width: 95%;
  }

  #contact .form fieldset #email {
    width: 95%;
  }

  #contact .form fieldset .fullN {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #contact .form fieldset .email {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  #contact .form fieldset .msg {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

@media (min-width: 600px) and (max-width: 909px) {
  #portfolio {
    padding: 0 5rem;
  }

  #portfolio .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  #portfolio .cd1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  #portfolio .cd2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  #portfolio .about-des {
    background-size: 120px;
  }

  #portfolio .about-des .about-para {
    width: 500px;
  }
}

@media screen and (min-width: 910px) {
  #portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
    padding: 0 10rem;
  }

  #portfolio .cards {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #portfolio .cards .card .langs h3 {
    color: #172b4d;
  }

  #portfolio .cards .card .langs .cd-links li a {
    color: #172b4d;
  }

  #portfolio .ttl {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    grid-column: 1/4;
  }

  #contact {
    margin-top: 8rem;
  }
}

@media (min-width: 768px) {
  .navlinks {
    display: block;
  }

  .logo {
    display: none;
  }

  .toggleMenu {
    display: none;
  }

  .socials {
    margin-top: 1rem;
  }

  .socials a {
    font-size: 2em;
  }

  .socials a img {
    height: 1.8rem;
  }

  .header-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
  }

  .header-sec .navlinks {
    padding: 1rem;
  }

  .header-sec .navlinks ul {
    display: flex;
  }

  .header-sec .navlinks ul li {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 0 1rem;
  }

  .header-sec .navlinks ul li :hover {
    background-color: #ebf0ee;
  }

  .header-sec .navlinks ul li a {
    padding: 0.8rem;
    border-radius: 5px;
    color: #172b4d;
  }

  .hero-intro {
    background-image: none;
  }

  .hero-intro .title {
    margin-top: 7rem;
  }

  .hero-intro .description {
    width: 800px;
    margin: 2rem;
    padding: 0 2rem;
  }

  .hero {
    background-image: url("../assets/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;
  }

  #about {
    background-image: url("../assets/about-right.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
    height: 100vh;
    margin-bottom: 3rem;
  }

  #about .about-des {
    background-image: url("../assets/about-left.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 180px;
    display: flex;
    flex-direction: column;
  }

  #about .about-des .about-ttl {
    display: flex;
    align-self: center;
    margin-top: 3rem;
  }

  #about .about-des .about-ttl h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  #about .about-des .about-para {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin: 2rem 4rem;
    padding: 0 8rem;
    width: 80%;
  }

  #about .about-des .about-para p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #172b4d;
    text-align: center;
  }

  #about .about-des .about-para button {
    margin-top: 2rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    background-color: #36b37f;
    width: 159px;
    height: 48px;
    align-self: center;
    border: none;
    border-radius: 4px;
  }

  #about .experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 5rem;
    margin: 2rem 4rem;
  }

  #about .experience .about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebf0ee;
    width: 369px;
    height: 352px;
    border-radius: 10px;
    margin: 0.5rem;
  }

  #about .experience .about-card img {
    width: 250px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  #about .experience .about-card h3 {
    margin-top: 2rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #172b4d;
  }

  #about .experience .about-card ul {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #about .experience .about-card ul li {
    margin: 0.5rem;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
  }

  #about .experience .about-card ul li a {
    color: #36b37f;
  }

  #contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(../assets/contact2.png);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: bottom left;
    margin-top: 5rem;
  }

  #contact .pri-text {
    justify-content: start;
    margin-left: 7rem;
    width: 40%;
    height: 600px;
    background-image: url(../assets/illust-2.png);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: bottom center;
  }

  #contact .pri-text .contact-para {
    text-align: center;
    margin-top: 5rem;
  }

  #contact .form {
    width: 65%;
    height: 450px;
    background-image: url(../assets/contact.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: bottom right;
  }

  #contact .form fieldset {
    width: 70%;
  }

  .copyright .copyright-txt {
    display: none;
  }
}
